*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

:root {
  --clr-base: #4891FF;
  --clr-light: #f4f4f6;
  --clr-dark: #111;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

a {
  text-decoration: none;
  color:  #333;
}

ul {
  list-style: none;
}

.navbar {
  background: #fff;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
}

.navbar ul li a:hover {
  color: var(--clr-base);
  transition: 0.5s;
}

.navbar ul li a i {
  margin-right: 10px;
}

.navbar ul li:last-child a {
  margin-left: 10px;
}

.hero {
  margin-bottom: 50px;
}

.hero .container {
  background: url('../images/hero-bg.png') no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}

.hero .hero-content {
  width: 70%;
}

.hero .hero-text {
  width: 70%;
  margin-bottom: 20px;
}

.video {
  padding: 10px 0 40px;
}

.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-preview {
  margin-bottom: 20px;
}

.testimonials {
  padding-block: 40px;
}

.testimonials .testimonials-heading {
  width: 700px;
  margin-bottom: 40px;
}

.card {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.testimonials .card p:nth-child(2){
  margin-top: 2rem;
  font-weight: bold;
}

.pricing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

.pricing-heading {
  margin-block: 1rem;
}

.pricing .pricing-card-price {
  margin-block: 2rem;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.pricing ul {
  margin: 30px 0;
}

.pricing ul li {
  margin-bottom: 20px;
}

.pricing ul li i {
  margin-right: 0.8rem;
}

.pricing .pricing-footer {
  margin: 30px;
}

.faq {
  padding-block: 40px;
}

.faq .faq-group {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.faq .faq-group .faq-group-header {
  padding-block: 20px;
  margin-bottom: 15px;
  position: relative;
}


.faq .faq-group .faq-group-header h4 {
  font-weight: 600;
  width: 95%;
}

.faq .faq-group .faq-group-header i {
  position: absolute;
  right: 0;
  top: 2rem;
  cursor: pointer;
}

.faq .faq-group .faq-group-body:not(.open) {
  display: none;
}

.faq ul.faq-menu {
  max-width: 400px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  
  li {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
  }

  li.active {
    background: var(--clr-base);
    color: #fff;
  }
}


.footer {
  padding: 40px 0;
  
  h4 {
    margin-bottom: 10px;
  }

  ul li {
    line-height: 2.5;
  }

   a {
    color: #ccc;
  }

  i {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
  }

  .card {
    margin: 20px 30px 30px 0px;
  }

  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-block: 20px;
  }
}


/* utils */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--clr-light);
  color: #333;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  transition: 0.5s;
  opacity: 0.8;
}

.btn-base {
  background: var(--clr-base);
  color: #fff;
}

.btn-dark {
  background: var(--clr-dark);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20x;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20x;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20x;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10x;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5x;
}

.text-center {
  text-align: center;
}

.bg-base {
  background: var(--clr-base);
  color: #fff;
}

.bg-light {
  background: var(--clr-light);
  color: #333;
}

.bg-dark {
  background: var(--clr-dark);
  color: #fff;
}

.bg-black {
  background: #000;
  color: #fff;
}

.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;

  .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;

  ul {
    margin-top: 100px;
    padding-right: 10px;
  }

  ul li {
    margin: 10px 0;
  }

  ul li a {
    font-size: 20x;
    transition: 0.3s;
  }
}

.mobile-menu.active {
  right: 0px;
}

@media (max-width: 960px) {
  .text-xxl {
    font-size: 2.5rem;
  }
}

@media (max-width: 670px) {
  .navbar{
    .main-menu {
      display: none;
    }
    .hamburger-button {
      display: block;
    }
  }

  .hero .container {
    background: url('../images/hero-bg-mobile.png') no repeat;
  }

  .hero .hero-content, .hero .hero-text {
    width: 100%;
    text-align: center;
  }

  .hero .hero-buttons .btn {
    display: block;
    width: 100%;
    marign-bottom: 10px;
  }
  
  .text-xl {
    font-size: 1.9rem;
  }

  .text-lg {
    font-size: 1.5rem;
  }

  .text-md {
    font-size: 1.1rem;
  }

  .testimonials .testimonials-heading {
    max-width: 100%;
    text-align: center;
  }

  .testimonials .testimonials-grid, .pricing .pricing-grid, .footer .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer .card {
    marign-right: 0;
  }

  .footer .footer-grid > div {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .text-xxl {
    font-size: 2rem;
  }
}
